@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* { 
	margin:0; 
	padding: 0; 
	box-sizing: border-box; 
}

a {
	text-decoration: none;
	color: #9E6DC2;
}
a:hover {
	text-decoration: underline;
}

h3, h4 {
	color:#290742;
}

header {
	background:#290742;
	border-bottom: 4px solid #4FFF4B;
}

body{
	font-family: 'Poppins', sans-serif;
	margin-bottom: 10rem;
}
.container, main, #content_cards {
    width: 80vw;
    margin: 0 auto;
    padding-top: 4rem;
}

.container #logo h1 {
	font-size: 38px;
    color: white;
}

.container #logo h1 span {
	color: #4FFF4B;
}
.container nav {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

#links ul {
	list-style: none;
    color: white;
    display: flex;
    gap: 2rem;
    font-size: 18px;
}

#links ul li .link_nav {
	color:white;
	padding: 2px;
	text-decoration: none;
}

#links ul li a:hover {
	border-left: 2px solid #4FFF4B;
}

#search_box {
	display: flex;
    align-items: center;
    justify-content: flex-start;
}

#search_box #search {
	height: 2rem;
    background: #170027;
    border: none;
    padding: 0.625rem;
    color: white;
    border-radius: 4px 0 0 4px;
}

#search_box button {
	height: 2rem;
    width: 2rem;
    background: #9E6DC2;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}


#search::placeholder { /*Altera a cor do placeholder*/
	color: white;
}

#search:focus {
	border:none;
}

section#banner {
	display: flex;
	justify-content:space-between;
    align-items: center;
    padding: 3rem 0;
}

section #text_banner {
	width: 50%;
}

section #text_banner h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
	color: #9E6DC2;
	max-width: 35rem;
}

section #text_banner p {
	color: #FBF6FF;
	max-width: 29rem;
}

section #link {
	display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

section #link img {
	margin-left: 0.5rem;
}

section#content {
	display: flex;
    justify-content: space-between;
}

.text_top {
	margin-top: 1rem;
}

div.post1 {
	max-width: 35rem;
}

div.side-post {
	max-width: 30rem;
}

#divider1 {
	margin-top: 1rem;
	border-bottom: 1px solid #F2E7FA;
}

div.cards {
	display: flex;
	justify-content: space-between;
}

div.card {
	max-width: 23rem;
}
